
.form {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.formElement {
    margin: 10px;
}
.formContainer {
    display: flex;
    flex-direction: row;
    position: relative;

}
.location {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 15px;
}
.location .locationElement{
    margin-left: 15px;
}

.overview {
    width: 100%;
}
